.chooseHome {
  display: flex;
  z-index: 3;
  justify-content: center;
  flex-direction: row;
}

.page {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fixContent {
  margin-bottom: -3%;
  padding: 5% 0;
  width: 90%;

  background-image: linear-gradient(
    90deg,
    #312c9170 0%,
    #4f4fa070 35%,
    #00d4ff70 100%
  );

  background-size: auto;
  opacity: 0.9;
  border-radius: 30px;
  background-position: center center;
  background-repeat: no-repeat;

  height: max-content;
}

.adress {
  margin-top: 3%;
  text-align: center;
  color: white;
}

.dispex {
  opacity: 0.8;
  top: -13px;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 80% 80%;
  border-radius: 15% 15% 50% 50%;
  position: absolute;
  width: 400px;
  height: 120px;
  background-image: url(../images/dispex.png);
}

.persons {
  max-height: 380px;
  z-index: 2;

  overflow: scroll;
  overflow-x: hidden;
  transition: 400ms all ease-in-out;
  margin-top: 4%;
  display: flex;
  width: 90%;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
}

.addUser {
  cursor: pointer;
  background-color: transparent;
  border: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256'%3E%3Crect width='256' height='256' fill='none'/%3E%3Cline x1='176' x2='224' y1='56' y2='56' fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='16'/%3E%3Cline x1='200' x2='200' y1='32' y2='80' fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='16'/%3E%3Cpath fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='16' d='M30.989 215.99064a112.03731 112.03731 0 0 1 194.02311.002M188.05124 118.18275a63.96647 63.96647 0 1 1-45.27249-84.46794'/%3E%3C/svg%3E");
  width: 80px;
  height: 80px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  right: 40px;
  top: 40px;
}

.connectUser {
  cursor: pointer;
  background-color: transparent;
  border: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1792' fill='white' height='1792' viewBox='0 0 1792 1792'%3E%3Cpath d='M1520 1216q0-40-28-68l-208-208q-28-28-68-28-42 0-72 32 3 3 19 18.5t21.5 21.5 15 19 13 25.5 3.5 27.5q0 40-28 68t-68 28q-15 0-27.5-3.5t-25.5-13-19-15-21.5-21.5-18.5-19q-33 31-33 73 0 40 28 68l206 207q27 27 68 27 40 0 68-26l147-146q28-28 28-67zm-703-705q0-40-28-68l-206-207q-28-28-68-28-39 0-68 27l-147 146q-28 28-28 67 0 40 28 68l208 208q27 27 68 27 42 0 72-31-3-3-19-18.5t-21.5-21.5-15-19-13-25.5-3.5-27.5q0-40 28-68t68-28q15 0 27.5 3.5t25.5 13 19 15 21.5 21.5 18.5 19q33-31 33-73zm895 705q0 120-85 203l-147 146q-83 83-203 83-121 0-204-85l-206-207q-83-83-83-203 0-123 88-209l-88-88q-86 88-208 88-120 0-204-84l-208-208q-84-84-84-204t85-203l147-146q83-83 203-83 121 0 204 85l206 207q83 83 83 203 0 123-88 209l88 88q86-88 208-88 120 0 204 84l208 208q84 84 84 204z'/%3E%3C/svg%3E");
  width: 80px;
  height: 80px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 40px;
  top: 40px;
}
